Lita.configure do |config|
  # The severity of messages to log. Options are:
  # :debug, :info, :warn, :error, :fatal
  # Messages at the selected level and above will be logged.
  #config.robot.log_level = :info
  config.robot.log_level = :debug

  # Redis connection information
  config.redis[:host] = "redis"

  # An array of user IDs that are considered administrators. These users
  # the ability to add and remove other users from authorization groups.
  # What is considered a user ID will change depending on which adapter you use.
  # config.robot.admins = ["1", "2"]

  config.robot.alias = "!"
  # Slack configuration
  config.robot.adapter = :slack
  config.adapters.slack.token = "INSERT_SLACK_KEY_HERE"
  config.adapters.slack.link_names = true
  config.adapters.slack.parse = "full"
  config.adapters.slack.unfurl_links = true
  config.adapters.slack.unfurl_media = true

end
